*{
      margin:0;
}

.base {
  background-color: black;
  opacity: 0.8;
  width: 600px;
  height: 900px;
  border-radius:50px;
  display: flex;
  justify-content: center;
  align-items: center;  
  margin: 100px auto;  
  box-shadow:-15px -15px 7px rgb(196, 196, 196); 
}
#display{
      background-color: rgb(234, 13, 13);
      margin-top: -500px;
}
.line1{
      display: flex;
      gap:20px;
     margin-bottom:1rem;
     margin-top:14rem;
}

#ac{
      width:110px;
      height:110px;
      background-color:grey;
      border-radius:50%;
      color:rgb(0, 0, 0);
      font-size:2rem;
      font-weight: 900;
      display:flex;
      justify-content: center;
      align-items: center;

}
#del{
      width:110px;
      height:110px;
      background-color:grey;
      border-radius:50%;
      color:rgb(0, 0, 0);
      font-size:2rem;
      font-weight: 900;
      display:flex;
      justify-content: center;
      align-items: center;
}
#per{
      width:110px;
      height:110px;
      background-color:grey;
      border-radius:50%;
      color:rgb(0, 0, 0);
      font-size:2rem;
      font-weight: 900;
      display:flex;
      justify-content: center;
      align-items: center;
}
#divi{
      width:110px;
      height:110px;
      background-color:rgb(251, 130, 2);
      border-radius:50%;
      color:rgb(0, 0, 0);
      font-size:3rem;
      font-weight:900;
      display:flex;
      justify-content: center;
      align-items: center;
}
.line2{
      display: flex;
      gap:20px;
      margin-bottom:1rem;
}

#seven{
      width:110px;
      height:110px;
      background-color:grey;
      border-radius:50%;
      color:rgb(0, 0, 0);
      font-size:2rem;
      font-weight: 900;
      display:flex;
      justify-content: center;
      align-items: center;

}
#eight{
          width:110px;
      height:110px;
      background-color:grey;
      border-radius:50%;
      color:rgb(0, 0, 0);
      font-size:2rem;
      font-weight: 900;
      display:flex;
      justify-content: center;
      align-items: center;

}

#nine{
          width:110px;
      height:110px;
      background-color:grey;
      border-radius:50%;
      color:rgb(0, 0, 0);
      font-size:2rem;
      font-weight: 900;
      display:flex;
      justify-content: center;
      align-items: center;

}

#mul{
          width:110px;
      height:110px;
      background-color:rgb(251, 130, 2);
      border-radius:50%;
      color:rgb(0, 0, 0);
      font-size:2rem;
      font-weight: 900;
      display:flex;
      justify-content: center;
      align-items: center;

}
.line3{
      display: flex;
      gap:20px;
      margin-bottom:1rem;
}

#four{
      width:110px;
      height:110px;
      background-color:grey;
      border-radius:50%;
      color:rgb(0, 0, 0);
      font-size:2rem;
      font-weight: 900;
      display:flex;
      justify-content: center;
      align-items: center;

}
#five{
      width:110px;
      height:110px;
      background-color:grey;
      border-radius:50%;
      color:rgb(0, 0, 0);
      font-size:2rem;
      font-weight: 900;
      display:flex;
      justify-content: center;
      align-items: center;

}

#six{
      width:110px;
      height:110px;
      background-color:grey;
      border-radius:50%;
      color:rgb(0, 0, 0);
      font-size:2rem;
      font-weight: 900;
      display:flex;
      justify-content: center;
      align-items: center;

}

#sub{
      width:110px;
      height:110px;
      background-color:rgb(251, 130, 2);
      border-radius:50%;
      color:rgb(0, 0, 0);
      font-size:2rem;
      font-weight: 900;
      display:flex;
      justify-content: center;
      align-items: center;

}
.line4{
      display: flex;
      gap:20px;
      margin-bottom:2rem;
}

#one{
      width:110px;
      height:110px;
      background-color:grey;
      border-radius:50%;
      color:rgb(0, 0, 0);
      font-size:2rem;
      font-weight: 900;
      display:flex;
      justify-content: center;
      align-items: center;

}
#two{
          width:110px;
      height:110px;
      background-color:grey;
      border-radius:50%;
      color:rgb(0, 0, 0);
      font-size:2rem;
      font-weight: 900;
      display:flex;
      justify-content: center;
      align-items: center;

}

#three{
          width:110px;
      height:110px;
      background-color:grey;
      border-radius:50%;
      color:rgb(0, 0, 0);
      font-size:2rem;
      font-weight: 900;
      display:flex;
      justify-content: center;
      align-items: center;

}

#add{
          width:110px;
      height:110px;
      background-color:rgb(251, 130, 2);
      border-radius:50%;
      color:rgb(0, 0, 0);
      font-size:2rem;
      font-weight: 900;
      display:flex;
      justify-content: center;
      align-items: center;

}
.line5{
      display: flex;
      gap:20px;
      margin-bottom:2rem;
}

#zero{
      width: 240px;
      height:100px;
      background-color:grey;
      border-radius:90px;
      color:rgb(0, 0, 0);
      font-size:2rem;
      font-weight: 900;
      display:flex;
      justify-content: center;
      align-items: center;

}
#deci{
          width:110px;
      height:110px;
      background-color:grey;
      border-radius:50%;
      color:rgb(0, 0, 0);
      font-size:2rem;
      font-weight: 900;
      display:flex;
      justify-content: center;
      align-items: center;

}

#equal{
          width:110px;
      height:110px;
      background-color:rgb(251, 130, 2);
      border-radius:50%;
      color:rgb(0, 0, 0);
      font-size:2rem;
      font-weight: 900;
      display:flex;
      justify-content: center;
      align-items: center;

}

